@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
}

div#home-centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#home-controls {
  background-color: white;
  border: 3px solid black;
}

.local-form-control {
  width: 300px;
  display: inline;
}

.local-div {
  padding: 20px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

a {
  color: #0000ee;

  &:visited {
    color: #0000ee;
  }

  &:hover {
    color: #0000ee;
  }
}

button#add-author-field{
  margin-top: 10px;
}

div.author-field{
  margin-top: 10px;
}

div#section2 {
  margin-top: 25px;
}